/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(245, 245, 247);
    color: rgb(29, 29, 31);
    font-family: system-ui;
    height: 100%;
    margin: 0px;
}

